.git
.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.DS_Store
*.pem
*.csv
*.zip
*.zip
*.DS_Store
# Other files
*.log
*.crash
*.tmp
*.bak
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.ico
**/*pycache*
pluggableweb-files
Pages
.vscode
postgres_data
myenv
pycache
postgres
kutt
